torch
torchaudio
transformers
datasets
accelerate
evaluate
jiwer
tensorboard
librosa
soundfile
pydub
ffmpeg-python
requests
pandas
numpy
tqdm
indic-transliteration
indic-nlp-library
pyenchant
python-Levenshtein
rapidfuzz
regex
unicodedata2
editdistance
huggingface_hub
scikit-learn
matplotlib
seaborn
openpyxl